models
models/*

!data/*

training-runs
training-runs/*

wandb/
wandb/*

**/__pycache__
__pycache__
.ipynb_checkpoints/

*.zip
*.swp
*.pth
*.pt
*.npz
*.tar
*.gz
*.pkl
*.mp4
*.pyc
*.out
*.png

publication_figures/
publication_figures/*
samples
samples/*
gen_images_new
gen_images_new/*

!data/adipose_tissue_ref_imgs/*

x_*.ipynb